.confluence {
    width: 100%;
    height: 100%;
    overflow: auto;
    .confluence-steps{
        padding-top: 5px;
        padding-bottom: 15px;
        .ant-steps-item-icon{
            padding-top: 7px;
        }
    }

    .confluence-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        border-radius: 4px;
        margin: 15px 0;
        padding: 20px;
        background-color: #DEEBFF;
    }
    .confluence-valid-version{
        .valid-version{
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px 0;
            &:not(:last-child){
                border-bottom: 1px solid #f0f0f0;
            }
            &>div:first-child{
                font-size: 13px;
                width: 120px;
            }
            &>div:last-child{
                flex: 1;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
            }
        }
        .valid-version-button{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .confluence-entity-xml{
        .entity-xml-button{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .confluence-import{
        background: #2B2B2B;
        border-radius: 4px;
        color: #fff;
        padding: 10px;
        word-wrap: break-word;
        white-space: pre-wrap;
        height: calc(100vh - 130px);
        overflow: auto;
    }

}
