.project-setting {
    cursor: pointer;

    .project-setting-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .project-setting-title {
        display: flex;
        align-items: center;
        margin-left: 15px;
        height: 40px;
        gap: 8px;
    }

}
