.search-modal{
    .ant-modal-body{
        padding: 0 !important;
    }
    .show-box {
        transition: width .3s;
        background-color: #fff;
        border-radius: 3px;
        padding-bottom: 20px;
        color: #000;
        overflow: auto;
        .search-input-box {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 15px;
            gap: 5px;
            .search-input {
                outline: 0;
                border: 0;
                flex: 1;
                height: 32px;
                line-height: 32px;
                background-color: #ffffff;
            }
        }
        .search-result-box {
            max-height: calc(100% - 86px);
            overflow: auto;
            .search-doc-spin {
                min-height: 150px;
            }
        }
        .sort-box {
            padding: 0 10px;
            .sort-title {
                color: #202d407a;
                font-weight: 600;
                font-size: 12px;
                padding-left: 10px;
                height: 20px;
                line-height: 20px;
            }
            .item-box {
                .item-one {
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    height: 35px;
                    cursor: pointer;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span{
                        width: 100px;
                        text-align: left;
                        margin-left: 10px;
                        overflow: hidden;
                        flex: 1;
                    }
                    .item-desc {
                        color: #999;
                        font-size: 12px;
                    }
                }
                .item-one:hover {
                    background-color: #f5f7fa;
                }
            }
        }
    }
}
