@import "_color";
@import "_base";
@import "_normalize";

.span-botton {
    color: #1890ff;
    cursor: pointer;
}

.delete {
    color: red;
}

.layout,.ant-modal,.ant-drawer,.ant-dropdown{
    .ant-modal-close-x {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .ant-form-item-control-input-content .ant-btn {
        margin-right: 8px;
    }
    .ant-breadcrumb {
        font-size: 15px;
        font-weight: 600;
    }
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-label>label{
        font-size: 13px;
        color: #777;
        font-weight: 600;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        padding: 8px;
        font-size: 13px;
        color: #777;
        font-weight: 600;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;
    }
    .ant-empty-image{
        margin-bottom: 0;
        .ant-empty-img-default{
            width: 100px;
        }
    }
    .ant-empty-description{
        font-size: 13px;
        color: #999;
        padding-bottom: 8px;
    }
}

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 15px 14px 0;
}

.icon {
    width: 12px;
    height: 12px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}

.sward-dropdown-more{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    width: 150px;
    padding: 8px;
    .dropdown-more-item{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #f4f4f4;
        }
    }
}
