.document-file-spin {
  height: 100%;
}
.document-file-examine {
  background-color: #fff;
  position: relative;
  height: 100%;
  .examine-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f7f8fa;
    padding: 0 20px;

    .examine-title {
      padding-top: 10px;
      flex: 1;
      width: 0;
      .examine-title-top {
        height: 25px;
        line-height: 25px;
        font-weight: 600;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }
      .examine-title-date {
        height: 25px;
        line-height: 25px;
        font-size: 11px;
        color: #666;
        white-space: nowrap;
      }
    }

    .comment-item {
      display: flex;
      align-items: center;
    }

    .document-action {
      display: flex;
      align-items: center;
      gap: 10px;
      .document-action-edit {
        background: #0d66e4ad;
        color: #fff;
        font-weight: normal;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        padding: 5px 10px;
      }
      .document-action-share {
        background: #f0f2f5;
        font-weight: normal;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        padding: 5px 10px;
      }
      .right-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      .right-icon:hover {
        background-color: #edf0f5;
      }
    }

    .inline {
      border-left: 2px solid #f0f0f0;
      height: 20px;
      width: 1px;
      margin-right: 20px;
    }
  }
  .document-examine-content{
    display: flex;
    justify-content: space-between;
    height: calc(100% - 71px);
    padding: 10px 10px 0;
  }
  .document-examine-row {
    height: 100%;
    overflow: auto;
    flex: 1;
  }
  .document-file-defalut{
    text-align: center;
    .file-defalut-view{
      margin-top: 10px;
      .file-defalut-view-text{
        cursor: pointer;
        font-size: 13px;
        color: #666;
        &:hover{
          color: var(--tiklab-blue);
        }
      }
    }
  }
  .document-file{
    text-align: center;
    margin-top: 60px;
    .icon-48{
      width: 48px;
      height: 48px;
    }
    .document-file-name{
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
    }
    .document-file-desc{
      color: #999999;
    }
  }
  .pg-viewer-wrapper{
    overflow-y: unset;
    .document-container{
      width: auto;
    }
  }
  img{
    max-width: 100%;
  }
  canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.document-file-empty {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
