
.project-botton {
    padding: 5px 15px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
}

.project-primary {
    background-color: var(--tiklab-blue);
    color: #ffffff;
}
.project-primary:hover {
    background-color: var( --tiklab-blue);
}
.project-dashed {
    color: #42526E;
    background-color: var(--tiklab-gray);
}

.project-dashed:hover {
    background-color: var(--tiklab-gray-400);
}
