.share-modal{
    .ant-modal-footer{
        text-align: initial;
    }
    .share-info-item{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 0;
        .share-info-item-label{
            color: #999999;
            width: 100px;
        }
        .share-info-item-value{
            flex: 1;
        }
        .access-type{
            display: flex;
            gap: 15px;
            padding-bottom: 10px;
            .access-type-item{
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 8px 16px;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    border-color: var(--tiklab-blue);
                }
            }
            .access-type-select{
                background: var(--tiklab-blue);
                border-color: var(--tiklab-blue);
                color: #fff;
            }
            .access-type-icon{
                font-size: 16px;
            }
        }
        .share-url{
            padding: 8px 12px;
            background: rgb(245, 245, 245);
            border-radius: 4px;
            word-break: break-all;
        }
    }
    .share-create-button{
        text-align: right;
    }
}
