.repository-set-basicinfo {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

    .repositoryReDel-ul{
        border-radius: 4px;
        border: 1px solid var(--tiklab-gray-200);
        .repositoryReDel-li{
            &:not(:last-child){
                border-bottom: 1px solid var(--tiklab-gray-200);
            }
            &:first-child .repositoryReDel-li-top{
                border-radius: 4px 4px 0 0;
            }
            &:last-child .repositoryReDel-li-unSelect{
                border-radius: 0 0 4px 4px;
            }
            .repositoryReDel-li-top{
                display: flex;
                align-items: flex-start;
                padding: 10px 20px;
                cursor: pointer;
                background: var(--tiklab-gray-600);
            }
            .repositoryReDel-li-icon{
                width: 16px;
                height: 16px;
                line-height: 16px;
                margin-right: 10px;
                margin-top: 4px;
                font-weight: var(--tiklab-font-weight-bold);
            }
            .repositoryReDel-li-center{
                flex-grow: 1;
            }
            .repositoryReDel-li-title{
                font-weight: var(--tiklab-font-weight-bold);
            }
            .repositoryReDel-li-desc{
                font-size: var(--tiklab-font-13);
                color: var(--tiklab-gray-500);
            }
            .repositoryReDel-li-down{
                align-self: center;
            }
            .repositoryReDel-li-bottom{
                padding:10px 20px;
            }
            .repositoryReDel-li-none{
                display: none;
            }
        }
    }

    .change-button {
        height: 30px;
        line-height: 30px;
        background: var(--tiklab-blue);
        color: #fff;
        border-radius: 4px;
        width: 100px;
        font-size: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
    .button-row {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .delete-button {
        background-color: #ff0000;
    }

    .repository-set-icon-block {
        color: #ff0000;
    }

}

.repository-icon-modal {
    .repository-icon-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .repository-icon {
            box-sizing: content-box;
        }
        .icon-select {
            border: 2px solid var(--tiklab-blue);
        }
    }
}
