.dynamic-list-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    .dynamic-list-item-content {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        min-width: 0;
        gap: 10px;

        .dynamic-user-icon {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }

        .dynamic-content {
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            min-width: 0;

            .dynamic-document-action {
                cursor: pointer;
            }

            .dynamic-document-item {
                display: flex;
                align-items: center;
                padding-top: 5px;
                .dynamic-document-title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 13px;
                    color: var(--tiklab-gray-500);
                }

            }

            .dynamic-document-update {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-top: 5px;
                .dynamic-document-oldvalue {
                    font-size: 12px;
                    line-height: 15px;
                    border-radius: 5px;
                }

                .dynamic-document-newValue {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 13px;
                    color: var(--tiklab-gray-500);
                }
            }
        }
    }
}

.dynamic-list-item:nth-child(4n+1) {
    .dynamic-user-icon {
        background-color: #cadbf3;
    }
}

.dynamic-list-item:nth-child(4n+2) {
    .dynamic-user-icon {
        background-color: #deedd7;
    }
}

.dynamic-list-item:nth-child(4n+3) {
    .dynamic-user-icon {
        background-color: #ffebee;
    }
}

.dynamic-list-item:nth-child(4n+4) {
    .dynamic-user-icon {
        background-color: #e8eaf6;
    }
}
